In [81]:
import pandas as pd
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)
df = pd.read_csv(r'players_20.csv')

temp = ['Belgium', 'France', 'Brazil', 'England', 'Portugal', 'Spain', 'Argentina']
drop_rows = []

# Select seven nations
for index, row in df.iterrows():
    if row['nationality'] not in temp:
        drop_rows.append(index)
        
# Drop all but seven nations
df.drop(drop_rows, inplace=True)

# print(df.shape)
# Drop all columns containing more than specific NA values
df.dropna(axis=1, thresh=len(df.index)-5100, inplace=True)

# Drop rows with NA values
df.dropna(inplace=True)

# Only keep required columns
keep_attributes = ["age", "club", "height_cm", "weight_kg", "nationality", "overall", "value_eur", "wage_eur", "preferred_foot", "international_reputation", "team_position", "pace", "shooting", "dribbling", "defending", "physic", "skill_moves"]
final_columns =  df[keep_attributes]
print(final_columns)

final = final_column.head(700)

       age                 club  height_cm  weight_kg nationality  overall  \
0       32         FC Barcelona        170         72   Argentina       94
1       34             Juventus        187         83    Portugal       93
2       27  Paris Saint-Germain        175         68      Brazil       92
4       28          Real Madrid        175         74     Belgium       91
5       28      Manchester City        181         70     Belgium       91
...    ...                  ...        ...        ...         ...      ...
17514   19           Gillingham        187         82     England       54
17580   28           Derry City        170         64   Argentina       54
17781   17       Fleetwood Town        182         65     England       52
17850   19           Gillingham        187         73     England       52
17946   36         Lincoln City        196         79     England       52

       value_eur  wage_eur preferred_foot  international_reputation  \
0       95500000    565000           Left                         5
1       58500000    405000          Right                         5
2      105500000    290000          Right                         5
4       90000000    470000          Right                         4
5       90000000    370000          Right                         4
...          ...       ...            ...                       ...
17514     110000      1000           Left                         1
17580      70000      1000           Left                         1
17781     100000      1000          Right                         1
17850     110000      1000          Right                         1
17946      10000      1000          Right                         1

      team_position  pace  shooting  dribbling  defending  physic  skill_moves
0                RW  87.0      92.0       96.0       39.0    66.0            4
1                LW  90.0      93.0       89.0       35.0    78.0            5
2               CAM  91.0      85.0       95.0       32.0    58.0            5
4                LW  91.0      83.0       94.0       35.0    66.0            4
5               RCM  76.0      86.0       86.0       61.0    78.0            4
...             ...   ...       ...        ...        ...     ...          ...
17514           SUB  78.0      48.0       52.0       22.0    69.0            3
17580           SUB  57.0      55.0       62.0       31.0    40.0            3
17781           RES  54.0      22.0       29.0       52.0    59.0            2
17850           RES  68.0      50.0       49.0       44.0    65.0            2
17946           SUB  24.0      22.0       23.0       50.0    57.0            2

[2330 rows x 17 columns]

In [22]:
df.to_csv("temp.csv")